<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ng-flat-datepicker demo</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../dist/ng-flat-datepicker.css">
        <style>
            * { font-family: 'Open Sans'; }
        </style>
    </head>
    <body ng-app="testApp" ng-strict-di>

        <div ng-controller="mainController">

            <h1>Ng datepicker demo</h1>

            <input type="text" name="date" ng-flat-datepicker datepicker-config="datepickerConfig" ng-model="date">
            or
            <button ng-flat-datepicker ng-model="date2" type="button" name="button">Pick a date</button>

            <p>Ng-model input: {{ date | json }}</p>
            <p>Ng-model button: {{ date2 | json }}</p>
        </div>

        <!-- JS -->
        <script src="../node_modules/moment/moment.js"></script>
        <!-- <script src="../node_modules/moment/locale/fr.js"></script> -->
        <script src="../node_modules/angular/angular.js"></script>

        <script src="../dist/ng-flat-datepicker.js"></script>

        <script src="js/app.js"></script>
    </body>
</html>
